<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include("partials/header") -%>
    <main>
        <h1>Contact Us</h1>
        <section>
            <p>We are always delighted to hear from you and provide assistance in any way we can. Please feel free to reach out to us using the following contact information or by filling out the contact form below.</p>

            <hr>

            <h3>Contact Information</h3>
            <p>
                <ul>
                    <li>Address: [Your Physical Address, if applicable]</li>
                    <li>Phone: [Your Phone Number]</li>
                    <li>Email: [Your Email Address]</li>
                </ul>
            </p>

            <hr>

            <h3>Social Media</h3>
            <p>You can also connect with us on our social media platforms to stay updated on the latest news, events, and offerings:
                <ul>
                    <li>[Social Media Icons/Links]</li>
                </ul>
            </p>

            <hr>

            <h3>Office Hours</h3>
            <p>
                Our dedicated team is available to assist you during our regular office hours:
                <br>
                <br>
                <ul>
                    <li>Monday - Friday: [Your Business Hours]</li>
                    <li>Saturday: [Your Business Hours, if applicable]</li>
                    <li>Sunday: [Your Business Hours, if applicable]</li>

                </ul>
                We are here to address your inquiries, provide support, and listen to your feedback. Please don't hesitate to get in touch with us, and we will do our best to assist you promptly.

                Thank you for choosing [Your Website Name]! Your satisfaction and feedback are important to us, and we look forward to connecting with you.
            </p>
        </section>
    </main>
    <%- include("partials/footer") -%>
</body>
</html>