    <link rel="stylesheet" href="/css/header-styles.css">
    <div class="header">
    <nav>
        <div class="logo">BLOG WEBSITE</div>
        <div class="links">
            <a href="/">Home</a>
            <a href="/compose">Create Post</a>
            <a href="/about">About Me</a>
            <a href="/contact">Contact Me</a>
        </div>
    </nav>
    </div>
